# {{ description }}

[{{ section_name }}]
{% for item in items %}
{{ item.key }} = {{ item.value }}
{% endfor %}

{% if use_defaults %}
[defaults]
{% for item in defaults %}
{{ item.key }} = {{ item.value }}
{% endfor %}
{% endif %}
